{% extends "base.html" %}

{% block body %}
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Todos os Perfis</strong>
			</div>
			{% if perfis %}
			<ul>
				{% for perfil in perfis%}
					<li>
						<!-- <a href="/perfis/{{perfil.id}}">{{perfil.nome}}</a> -->
						<a href="{% url 'perfis' perfil.id %}">{{perfil.nome}}</a>
					</li>
				{% endfor%}
			</ul>
			{% else %}
			<p>Nenhum perfil encontrado no sistema</p>
			{% endif %}
		</div>

		<div class="panel-default">
			{% with total_convites=perfil_logado.convites_recebidos.count %}

				<div class="panel-heading">
					<strong>Você tem {{total_convites}} convite{{total_convites |pluralize}} aguardando aprovação</strong>
				</div>	

				</div>
				<div class="panel-body">
					{% if total_convites %}
						<ul class="list-group">
							{% for convite in perfil_logado.convites_recebidos.all %}
								<li class="list-group-item">
									{{convite.solicitante.nome}}
									<a href="{% url 'aceitar' convite.id %}" class="pull-right">aceitar</a>
								</li>
							{% endfor %}
						</ul>
					{% else %}
						<p>Nenhum convite recebido :(</p>
					{% endif %}
				{% endwith %}
			</div>
		</div>

		<div class="panel-default">
				{% with total_contatos=perfil_logado.contatos.count %}
	
					<div class="panel-heading">
						<strong>Você tem {{total_contatos}} contato{{total_contatos | pluralize}}</strong>
					</div>	
	
					</div>
					<div class="panel-body">
						{% if total_contatos %}
							<ul class="list-group">
								{% for contato in perfil_logado.contatos.all %}
									<li class="list-group-item">
										<a href="{% url 'perfis' contato.id %}">{{contato.nome}}</a>
									</li>
								{% endfor %}
							</ul>
						{% else %}
							<p>Você ainda não tem nenhum contato :(</p>
						{% endif %}
					{% endwith %}
				</div>
			</div>
	</div>
{% endblock %}		